@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@using Factory.Models
<p>The name of this machine is: @Model.Name</p>
<p>@Html.ActionLink("Edit this machine","Edit",new {id = @Model.MachineId})</p>
<p>@Html.ActionLink("Add an engineer to this machine","Add",new {id =@Model.MachineId})</p>
<p>@Html.ActionLink("Delete this machine","Delete",new {id = @Model.MachineId})</p>
<p>Engineers licensed to work on this machine are:</p>

@foreach (MachineEngineer me in @Model.Engineers)
{
  <p>@Html.ActionLink(me.Engineer.Name,"Details","Engineers", new {id = me.EngineerId}) : @Html.ActionLink("Remove Engineer from Machine","Remove",new {id = me.MachineEngineerId})</p>
}